name: Build Docker Image

on:
  push:
    branches: [ dev-wip ]

jobs:

  build:

    runs-on: [self-hosted, cml, gpu]

    steps:
    - uses: actions/checkout@v2
    - name: Prepare thirdparty repos
      run: tools/setup-thirdparty-repos.sh
    - name: Prebuild images
      run: ./prebuild-docker.sh all
    - name: Build images
      run: ./build-docker.sh all
